* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #545454;
}

#switch {
  display: none;
}

#container {
  background-color: #545454;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 30px #474747,  -20px -20px 30px #616161;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: worker-3d,serif;
  font-weight: 400;
  font-style: normal;
  color: #343434;
}

#container::before {
  content: "ON";
}

#switch:checked ~ #container {
  background-color: #545454;
  box-shadow: inset 20px 20px 30px #474747,  inset -20px -20px 30px #616161;
  font-size: 0.9em;
  color: #373737;
}

#switch:checked ~ #container::before {
  content: "OFF";
}
